*{
    padding: 0;
    margin: 0 ;
}

html,body{
    height: 100%;
}

.el1{
    display: inline-block;
    height: 100px;
    width: 100px;
    background: red;
    border: 1px solid black;
    vertical-align: middle;
}

.p1{
    display: inline-block;
    vertical-align: bottom;
}
